footer {
    margin-top: 1vh;
    color: #7d7d7d;

    p{
        color: inherit;
        margin: 1px;
        font-size: 1.00rem;

        a{
            color: inherit;
            font-size: inherit;
        }

    }

    img.logoIndexFooter{
        width: 250px;
    }

    img.image-ufop{
        width: 68px;
    }

    .container-fluid{
        padding: 40px;
    }
    
    .container-fluid .university{
        text-align: center;
        padding-top: 20px;
    }
    
    .container-fluid .description{
        margin-top: 20px;
    }
}

@media (min-width: 100px) { 

    img.logoIndexFooter{
        padding-top: 4vh;
        max-width: 150px;
        margin-left: -50px;
    }

    img.image-ufop{
        max-width: 48px;
        margin-left: 30px;
    }
}

@media (min-width: 281px) { 

    img.logoIndexFooter{
        padding-top: 4vh;
        max-width: 150px;
        margin-left: -20px;
    }

    img.image-ufop{
        max-width: 48px;
        margin-left: 30px;
    }
}

@media (min-width: 377px) { 

    img.logoIndexFooter{
        padding-top: 4vh;
        max-width: 180px;
        margin-left: 10px;
    }

    img.image-ufop{
        max-width: 58px;
        margin-left: 40px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

    img.logoIndexFooter{
        padding-top: 3vh;
        max-width: 160px;
        margin-left: -20px;
    }

    img.image-ufop{
        max-width: 58px;
        margin-left: 20px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    img.logoIndexFooter{
        padding-top: 2vh;
        max-width: 180px;
    }

    img.image-ufop{
        max-width: 58px;
        margin-left: -20px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    img.logoIndexFooter{
        padding-top: 2vh;
        max-width: 180px;
    }

    img.image-ufop{
        max-width: 58px;
        margin-left: 30px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

    img.logoIndexFooter{
        padding-top: 2vh;
        max-width: 180px;
    }

    img.image-ufop{
        max-width: 58px;
    }
}

@media (min-width: 1400px) {

    img.logoIndexFooter{
        padding-top: 2vh;
        max-width: 200px;
    }

    img.image-ufop{
        max-width: 68px;
    }
}