<h2 id="cite-us">Cite us</h2>
<!-- Bootstrap Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#datacite">DataCite</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#mla">MLA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#apa">APA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#chicago">Chicago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#abnt">ABNT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#bibtex">BibTeX</a>
    </li>
</ul> 

<!-- Bootstrap Tab panes -->
<div class="tab-content cite-panes">
    <div class="tab-pane container active" id="datacite">
        <p>Rezende, Mariana Trevisan; Tobias, Alessandra Hermógenes Gomes; Silva, Raniere; Oliveira, Paulo; Sombra de
            Medeiros, Fatima; Ushizima, Daniela; et al. (2020): CRIC Cervix Cell Classification. figshare. Collection.
            https://doi.org/10.6084/m9.figshare.c.4960286.v2</p>
        <p>
            Rezende, Mariana Bianchi; Silva, Raniere; Bernardo, Fagner de Oliveira; Tobias, Alessandra Hermógenes Gomes; Oliveira, Paulo Henrique Calaes; Machado, Tales Gomes; et al. (2021): Cric searchable image database as a public platform for conventional pap smear cytology data. Scientific Data. https://doi.org/10.1038/s41597-021-00933-8 
        </p>
    </div>
    <div class="tab-pane container" id="mla">
        <p>Rezende, M. T., et al.. CRIC Cervix Cell Classification. 2, figshare, 1 May 2020,
            doi:10.6084/m9.figshare.c.4960286.v2.</p>
        <p>Rezende, Mariana T., et al. "Cric searchable image database as a public platform for conventional pap smear
            cytology data." Scientific Data 8.1 (2021): 1-8.</p>
    </div>
    <div class="tab-pane container fade" id="apa">
        <p>Rezende, M. T., Tobias, A. H. G., Silva, R., Oliveira, P., Sombra de Medeiros, F., Ushizima, D., … Bianchi,
            A. G. C.. (2020). CRIC Cervix Cell Classification. doi: 10.6084/m9.figshare.c.4960286.v2</p>
        <p>Rezende, M. T., Silva, R., Bernardo, F. D. O., Tobias, A. H., Oliveira, P. H., Machado, T. M., ... & Bianchi,
            A. G. (2021). Cric searchable image database as a public platform for conventional pap smear cytology data.
            Scientific Data, 8(1), 1-8.</p>
    </div>
    <div class="tab-pane container fade" id="chicago">
        <p>Rezende, Mariana Trevisan, Alessandra Hermógenes Gomes Tobias, Raniere Silva, Paulo Oliveira, Fatima Sombra
            de Medeiros, Daniela Ushizima, Claudia Martins Carneiro, and Andrea Gomes Campos Bianchi. “CRIC Cervix Cell
            Classification”. figshare, May 1, 2020. https://doi.org/10.6084/m9.figshare.c.4960286.v2.</p>
        <p>
            Rezende, Mariana T., Raniere Silva, Fagner de O. Bernardo, Alessandra H. G. Tobias, Paulo H. C. Oliveira, Tales M. Machado, Caio S. Costa, et al. “Cric Searchable Image Database as a Public Platform for Conventional Pap Smear Cytology Data.” Scientific Data 8, no. 1 (June 10, 2021). https://doi.org/10.1038/s41597-021-00933-8.
        </p>
    </div>
    <div class="tab-pane container fade" id="abnt">
        <p>REZENDE, M. T. et al. CRIC Cervix Cell Classificationfigshare, 1 maio 2020. Disponível em:
            &lt;https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/2&gt;. Acesso em:
            {{today.getDate()}}/{{today.getMonth()}}/{{today.getFullYear()}}.</p>
        <p>
            REZENDE, M. T. et al. Cric searchable image database as a public platform for conventional pap smear cytology data. Scientific Data, v. 8, n. 1, 10 jun. 2021. Disponível em:
            &lt;https://www.nature.com/articles/s41597-021-00933-8&gt;. Acesso em:
            {{today.getDate()}}/{{today.getMonth()}}/{{today.getFullYear()}}.
        </p>
    </div>
    <div class="tab-pane container fade" id="bibtex">
        <code><pre>
@misc&#123;cric_cervix,
    title="CRIC Cervix Cell Classification",
    url="https://figshare.com/collections/CRIC_Cervix_Cell_Classification/4960286/2",
    DOI="10.6084/m9.figshare.c.4960286.v2",
    abstractNote="400 images from microscope slides of the uterine cervix using the conventional smear (Pap smear) and the epithelial cell abnormalities classified according to Bethesda system. Data visualisation available at http://database.cric.com.br/.",
    publisher="figshare",
    author="Rezende, Mariana Trevisan and Tobias, Alessandra Hermógenes Gomes and Silva, Raniere and Oliveira, Paulo and Sombra de Medeiros, Fatima and Ushizima, Daniela and Carneiro, Claudia Martins and Bianchi, Andrea Gomes Campos",
    year="2020",
    month="May"
&#125;
@article&#123;rezende2021cric,
    title="Cric searchable image database as a public platform for conventional pap smear cytology data",
    author="Rezende, Mariana T and Silva, Raniere and Bernardo, Fagner de O and Tobias, Alessandra HG and Oliveira, Paulo HC and Machado, Tales M and Costa, Caio S and Medeiros, Fatima NS and Ushizima, Daniela M and Carneiro, Claudia M and others",
    journal="Scientific Data",
    volume="8",
    number="1",
    pages="1--8",
    year="2021",
    publisher="Nature Publishing Group"
&#125;
            </pre>
        </code>
    </div>
</div>