<ngx-json-ld [json]="schema"></ngx-json-ld>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container">
    <cr-user-nav [heading]="'Your Private Segmentation Collection'"></cr-user-nav>

    <p>
        Your Private Segmentation Collection. 
        Click the image to zoom and have access to cell segmentation tools.
    </p>

    <cr-listar-cards-imagem [todasImagens]="todasImagens"
            [segmentationDatabase]="segmentationDatabase"
            [carregando]="carregando"
            #atualizarPaginacaoViewChild>
    </cr-listar-cards-imagem>

</div>
