<ngx-json-ld [json]="schema"></ngx-json-ld>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container">
    <cr-user-nav [heading]="'Your Private Segmentation Collection'"></cr-user-nav>

    <p *ngIf="todasImagens.length !== 0">
        Click the image to zoom and have access to cell segmentation tools.
    </p>

    <div class="redirectUploadContainer" *ngIf="todasImagens.length === 0">
        <p>You do not have registered images yet, click the button below and upload your images.</p>        
        <button class="btn btn-primary" [routerLink]="['/image/upload']">Upload</button>
    </div>

    <cr-listar-cards-imagem *ngIf="todasImagens.length !== 0" [todasImagens]="todasImagens"
            [segmentationDatabase]="segmentationDatabase"
            [carregando]="carregando"
            #atualizarPaginacaoViewChild>
    </cr-listar-cards-imagem>

</div>
