<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">
    <h1> CRIC Searchable Image Database </h1>

    <div *ngIf="playground"
            class="alert alert-warning"
            role="alert">
            This is the playground. 
            You can login using the "Sign Up" option. 
            It will remain active until midnight.
            Visit <a href="http://database.cric.com.br"
            class="alert-link">database.cric.com.br</a> for the oficial data.
    </div>

    <p>
        Center for Recognition and Inspection of Cells (CRIC) Searchable Image Database
        is a public cell image database.
        We have collected hundreds cell images
        and
        hand labeled classify thousants of cells,
        visit our
        <a [routerLink]="['/classification']">
            Classification page
        </a>
        to see the images
        and
        their classifications.
    </p>

    <p *ngIf="!playground">Access the <a href="https://playground.database.cric.com.br/">playground</a> to create a personal database and manipulate classifications and segmentations in the cells.</p>

    <p>
        We hope
        CRIC Searchable Image Database
        will become a useful resource for cell investigation
        and
        help physicians to provide a healthier life for people worldwide.
    </p>

    <br>
    <h1>Article</h1>
    <p><a href="https://www.nature.com/articles/s41597-021-00933-8">Cric searchable image database as a public platform for conventional pap smear cytology data</a> 
        - Mariana T. Rezende, Raniere Silva, Fagner de O. Bernardo, Alessandra H. G. Tobias, Paulo H. C. Oliveira, Tales M. Machado, Caio S. Costa, Fatima N. S. Medeiros, Daniela M. Ushizima, Claudia M. Carneiro and Andrea G. C. Bianchi, published in the Scientific Data - Nature in June 2021.</p>

    <br>
    <h1>Tutorial</h1>

    <video class="video" loop controls muted>
        <source src="https://static-content.springer.com/esm/art%3A10.1038%2Fs41597-021-00933-8/MediaObjects/41597_2021_933_MOESM1_ESM.mp4" type="video/mp4" />
    </video>

</div>
