<ngx-json-ld [json]="schema"></ngx-json-ld>

<div class="container">

    <h1>Tutorial</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam velit adipisci odit, quam impedit quo dolorem a fugiat at, placeat assumenda magni commodi beatae nesciunt. Odit repellendus ut porro suscipit!
        Delectus esse fuga dignissimos autem dolor cumque nam nisi officiis, facilis quidem eveniet rerum totam quis iure obcaecati atque impedit! Facilis numquam eius ipsum impedit expedita esse quos porro perspiciatis!
        Hic amet cumque qui minima veniam pariatur nemo aperiam! Fugiat reiciendis, assumenda ab officiis velit, itaque vitae magni alias officia debitis sint dolores totam veritatis libero consectetur, quasi animi neque.
    </p>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus ea explicabo aspernatur, suscipit velit hic accusamus porro cumque eaque quas placeat non veniam sint nesciunt pariatur? Necessitatibus itaque odio aut!
        At quos rem aliquid, pariatur reiciendis perspiciatis facilis dolore deserunt error assumenda magni vel velit quaerat dolor libero eveniet harum et, veniam autem qui illo, consequatur ea corporis! Quas, sunt.
        Eum porro, libero minima illum magnam quia architecto quisquam pariatur corporis deserunt odio asperiores tempore obcaecati cum quos et hic? Nam corporis sit quam odit laborum. Nulla, in aperiam. Possimus.
    </p>

    <div class="video">
        <iframe frameborder="0"
            src="https://static-content.springer.com/esm/art%3A10.1038%2Fs41597-021-00933-8/MediaObjects/41597_2021_933_MOESM1_ESM.mp4">
            Supplementary Video
        </iframe>
    </div>

    <cr-cite-us></cr-cite-us>
</div>
