<ngx-json-ld [json]="schema"></ngx-json-ld>

<cr-animacao-carregamento *ngIf="carregando"></cr-animacao-carregamento>

<div class="container">
    <cr-user-nav [heading]="'Your Private Classification Collection'"></cr-user-nav>

    <p *ngIf="todasImagens.length !== 0">
        Click the image
        to zoom
        and
        have access to cell classification.
        Each image has annotations for each nucleus
        which are represented by bounding boxes (100pixels x 100pixels).
    </p>

    <div class="redirectUploadContainer" *ngIf="todasImagens?.length === 0">
        <p>You do not have registered images yet, click the button below and upload your images.</p>        
        <button class="btn btn-primary" [routerLink]="['/image/upload']">Upload</button>
    </div>

    <cr-listar-cards-imagem *ngIf="todasImagens?.length !== 0" [todasImagens]="todasImagens"
            [classificationDatabase]="classificationDatabase"
            #atualizarPaginacaoViewChild>
    </cr-listar-cards-imagem>

</div>
